* {
    margin: 0;
    padding: 0;
}

header {
    padding: 0.8em;
    border-bottom: 1px solid #c4c4c4;
}

.container {
    display: flex;
    width: 100%;
    margin: auto;
}

#first-part {
    width: 15%;
    display: flex;
}

#youtube-video {
    display: flex;
    margin: auto;
}

#youtube-title {
    color: #000000;
    font-weight: 100;
    font-family: fantasy;
    position: relative;
    top: -1px;
}

#yv {
    position: relative;
    top: -4px;
}

#second-part {
    width: 60%;
    display: flex;
    margin-left: 4em;
}

#third-part {
    width: 25%;
    display: flex;
}

#third-part > img {
    margin: 0 0.5rem;
    position: relative;
    top: 5px;
}

#third-part > div {
    margin: 0 0.3rem;
}

#sign {
    color: #065fd4;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
}

#user-profile {
    padding: 0.19em;
}

#search {
    padding: 0.2em;
}

#search-input {
    height: 25px;
}

#search-div {
    border: 1px solid #c4c4c4;
    height: 27px;
    width: 55px;
    background-color: #f8f8f8;
    text-align: center;
}

/* Main content styles */

#main-content {
    margin-top: 0.2em;
    background-color: #fafafa;
}

#filter-container,
aside {
    width: 96%;
    margin: auto;
}

aside {
    margin-top: 1em;
}

#filter-container {
    display: flex;
    padding: 0.5em 0;
}

.side-container {
    display: flex;
}

.title {
    color: #0A0A0A;
    font-size: 18px;
    font-family: sans-serif;
    margin-bottom: 5px;
}

.sub-title {
    font-size: 13px;
    font-family: sans-serif;
    color: #0A0A0A;
    margin-bottom: 12px;
}

.third-title {
    font-size: 13px;
    font-family: sans-serif;
    color: #606060;
}

#filter {
    text-decoration: none;
    padding: 0 0.7em;
    font-family: sans-serif;
    font-weight: 600;
    position: relative;
    top: 4px;
    color: #606060;
}

aside ul > li {
    list-style-type: none;
    margin-bottom: 1em;
}

.video-description {
    margin-left: 1em;
}

hr {
    background-color: #E1E1E1;
    opacity: 0.2;
    height: 1px;
    max-width: 640px;
}

#views-container,
#likes-container {
    display: flex;
}

#main-desc {
    display: flex;
}

#left {
    padding: 0 1.2em
}

#likes-container {
    margin-left: 13em;
}

#views-container {
    max-width: 640px;
    /*width: 40em;*/
    margin-top: 0.9em;
    border-bottom: 1px solid #909090;

}

.picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#profile-container {
    display: flex;
    margin-top: 1.5em;
    max-width: 640px;
}

#subs {
    margin-left: 16.5em;
    padding: 0.5em;
    color: #ffffff;
    background-color: #FF0000;
}

#subscribe {
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
}

#profile-desc {
    margin-left: 1em;
}

#ronaldo {
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    color: #0a0a0a;
    font-size: 14px;
    font-family: sans-serif;
}

#publish {
    font-size: 13px;
    color: rgba(17, 17, 17, 0.6);
    font-family: sans-serif;
}

#mateo {
    font-size: 14px;
    font-weight: 600;
    color: #0a0a0a;
    font-family: sans-serif;
}

#show {
    color: rgba(17, 17, 17, 0.6);
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 0.5em;
}

#publishsubscr {
    display: flex;
}


.upvote {
    display: flex;
    margin: 0 0.3em;
}

.save {
    font-size: 13px;
    color: #909090;
    position: relative;
    top: -7px
}

#video-title {
    font-size: 18px;
    color: #0a0a0a;
    margin-top: 0.9em;
    font-family: sans-serif;
    max-width: 640px;
}

.up {
    padding-right: 0.5em;
    width: 20px;
    height: 20px;
}

#views {
    padding: 0.5em;
}

#titlecomment-container {
    display: flex;
    margin-top: 1.5em;
    max-width: 640px;
}

#totcom {
    margin-right: 1.5em;
}

#sort {
    position: relative;
    top: -5px;
    font-family: sans-serif;
    color: #606060;
    font-size: 14px;
}

#commenting-container {
    display: flex;
    margin-top: 1.5em;
    max-width: 640px;
}

.commentlist-container {
    max-width: 640px;
    display: flex;
}

.reply {
    display: flex;
}

.reply > p {
    margin-right: 1.5em;
}

.rep {
    font-size: 13px;
    color: #606060;
    padding-left: 0.8em;
    font-family: sans-serif;
}

#search-comment {
    margin-left: 0.8em;
    padding: 0.5em;

}

#inp {
    border: 0;
}

#com {
    font-family: sans-serif;
}

#listcomments {
    margin-top: 2em;
}

#listcomments > li {
    margin-bottom: 1em;
}

.comment-desc {
    margin-left: 1em;
}

.thumb {
    width: 16px;
    height: 16px;
    position: relative;
    top: 4px;
}

.score {
    color: #111111;
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 0.5em;
}

.zahir {
    color: #0a0a0a;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.day {
    color: #606060;
    font-size: 13px;
    font-family: sans-serif;
}

.arrow {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

.viewrep {
    color: #0a0a0a;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 14px;
}

#ad {
    background-color: #1c1e23;
    width: 275px;
    height: 180px;
    border-radius: 5px;
    padding: 1.2em 1em;
}

#distance {
    color: #43d7ff;
    max-width: 243.39px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
}

#inscris {
    color: #ffffff;
    font-size: 15px;
    font-family: sans-serif;
    max-width: 174.45px;
    opacity: 0.5;

}

#arro {
    padding: 25%;
}

#univ {
    display: flex;
    padding: 0.8em 0;
}

#cent {
    padding: 1em;
}

#arrowdiv {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: 12px;
}

#next {
    padding-right: 12em;
    font-size: 16px;
    color: #0a0a0a;
    font-family: sans-serif;
}

#autoplay {
    margin-top: 1em;
}

#on {
    margin-left: 5px;
    position: relative;
    top: 7px;
}

#auto {
    color: #606060;
    font-family: sans-serif;
    font-size: 13px;
}

#side-video {
    margin-top: 1.8em;
}

.listvideos {
    display: flex;
}

.small {
    margin-left: 0.5em;
    max-width: 200px
}

.super {
    color: #606060;
    font-size: 13px;
    font-family: sans-serif;
}

.champ {
    color: #0a0a0a;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
}

@media(max-width:982px) {
    #sign {
        font-size: 0.57em;
    }

    #search-input {
        display: none;
    }

    #youtube-title,
    #second-part {
        width: 50%;
    }

    #third-part {
        width: 80%;
    }

    #third-part > img {
        margin: 0 0.2em;
    }

    #search-div {
        border: none;
    }

}

@media(max-width:721px) {
    aside {
        padding: 1em;
    }

    .sub-title {
        margin-bottom: 2px;
    }
}
